@model CourseWork.Web.Models.Collections.CollectionsViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="jumbotron">
    <h1>@Localizer["ViewTitle"]</h1>
    <table>
        <thead>
            <tr>
                <th>@Localizer["CollectionImage"]</th>
                <th>@Localizer["CollectionTheme"]</th>
                <th>@Localizer["CollectionTitle"]</th>
                <th>@Localizer["CollectionDescription"]</th>
                <th>@Localizer["CollectionAuthor"]</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>