@model RegisterViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-mb-12 col-lg-4">
            <h1 class="mb-3">@Localizer["Register"]</h1>

            <form method="post" asp-controller="Profile" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="FirstName">@Localizer["FirstName"]</label>
                    <input type="text" asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="SecondName">@Localizer["SecondName"]</label>
                    <input type="text" asp-for="SecondName" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="UserName">@Localizer["Username"]</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="UserName">@Localizer["Password"]</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">@Localizer["Register"]</button>
                </div>
            </form>
        </div>
    </div>
</div>